/*
    Landing Page
*/
html,#landingPage, #pt{
    width: 100;
    height: 100vh;
}

#pt_canvas{
    height: 100vh;
}
#landingPage{
    position: relative;
    margin-bottom: 0;
    text-align: center;
}
#landingText{
    color: white;
    position: absolute;
    z-index: 999;
    padding-top:100%;
}
#landingMyName{
    color:#e1236e !important;
    font: bold;
}

/*
    Nav Bar
*/
.navbar {
    margin-bottom: 0;
}

/*
    Homepage
*/
#homepage_banner{
    background-color: white;
}
#hompage_content{
    background-color: #e9ecef;
}
#white_background_text{
    color:#444649;
}
#homepage_icons{
    color:#21c2c8;
    font-size: 120px;
}
#homepage_icon_text{
    color: #616161;
    line-height: 75%;
}
#homepage_title_text{
    color: #616161;
    line-height: 85%;
}
#homepage_info_icon{
    color:#c2c6c6;
    font-size: 240px;
}
#homepage_skills{
    background-color: white;
}

/*
    Footer
*/
#footer_icon{
    color:#999c9f;
}

footer{
    background-color: #343a40;
}

.footer_name{
    color:white;
}
